.signup-loginContainer {
      min-width: 320px;
      max-width: 400px;
      height: auto;
      position: absolute;
      top: 20%;
      left: 0;
      right: 0;
      margin: auto;
}

.signup-paper {
    padding: 20px;
    overflow: auto
}
.signup-buttonsDiv {
    text-align: center;
    padding: 10px
}
.signup-flatButton {
    color: white !important;
    background: #9E9E9E !important;
    margin: 5px !important;
}


.signup-loginBtn {
    float: right;
    margin: 5px;
}

.signup-btn {
    background: '#4f81e9';
    color: white;
    padding: 7px;
    border-radius: 2px;
    margin: 2px;
    font-size: 13;
}
.signup-btnSpan {
    margin-left: 5px;
}